# API Keys for LLM providers
DEEPSEEK_API_KEY="your_deepseek_api_key_here"
#GOOGLE_API_KEY ="your_google_api_key_here"
#OPENROUTER_API_KEY = "your_openrouter_pai_key_here"

# GNS3 Server Configuration
GNS3_SERVER_HOST="127.0.0.1"
GNS3_SERVER_URL="http://127.0.0.1:3080"
GNS3_SERVER_USERNAME=""
GNS3_SERVER_PASSWORD=""

# API Version
API_VERSION="2"

# use gns3 debian linux
# https://www.gns3.com/marketplace/appliances/debian-2
LINUX_TELNET_USERNAME="debian"
LINUX_TELNET_PASSWORD="debian"