include LICENSE
include README.md
include README_ZH.md
include pyproject.toml
include *.jpeg
include *.gif

recursive-include src/gns3_copilot *.py

recursive-include test *.py
recursive-include test *.ipynb
recursive-include test *.txt
recursive-include test *.json
